
<!--
<button nz-button (click)="onOpenModal(modalTemplate)">测试</button>
<ng-template #modalTemplate>
  <form nz-form [formGroup]="modalForm">
    <formly-form
      [formly-box]="[]"
      [form]="modalForm"
      [fields]="modalFields"
      [model]="modalModel"
      [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
    >
    </formly-form>
  </form>
</ng-template>
-->


<form nz-form [formGroup]="modalForm">
  <formly-form
    [formly-box]="[]"
    [form]="modalForm"
    [fields]="modalFields"
    [model]="modalModel"
    [options]="{ formState: { nzGutter: 10, colNzSpan: 12, labelNzFlex: '80px' } }"
  >
  </formly-form>
</form>
